:root{
--primary-text-color: #212121;
--secondary-text-color: #757575 ;
--accent-color: #2196F3;
--primary-white-color: #FFFFFF;
--secondary-bg-color: #2F303A;
}

/*-----------------General*-----------------------*/
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* all lists*/
.list {
    list-style: none;
}
/*----header----*/
 /*logo*/
.logo-black{
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
    text-decoration: none;
}

.logo-white{
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
    text-decoration: none;
}

.logo-white:focus {

}


.logo-word {
    color: var(--accent-color);
}

 
.site-nav .link {
    color: var(--primary-text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14px;
     letter-spacing: 0.02em;
     text-decoration: none;
}
    
.site-nav .link:hover,
.site-nav .link:focus {
     color: var(--accent-color);
}
    
.site-nav .link.current {
     color: var(--accent-color);
}
    
.contacts .link {
      color: var(--secondary-text-color);
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
     line-height: 16px;
      letter-spacing: 0.02em;
 }
    
.contacts .link:hover,
.contacts .link:focus {
     color: var(--accent-color);
}
 /*footer*/
    
.footer {
     background-color: var(--secondary-bg-color);
    
}
      
.address-city {
    color: var(--primary-white-color);
    
}
    
.address-mail {
     color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
 }
    
    .address-tel {
        color: rgba(255, 255, 255, 0.6);
         text-decoration: none;
}
    /*buttons*/
.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button.secondary {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.button.secondary:hover{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
   
 /* ----------------Index html*-----------------------*/




    /*hero*/

.hero{
    background-color: var(--secondary-bg-color);
}
.hero-title{
   color: var(--primary-white-color);
    font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

}

    /*main*/
.section-title{
    color: var(--primary-text-color);
}

    /*features*/
.features-title{
    color: var(--primary-text-color);
}
.features-text{
    color: var(--secondary-text-color);
}

    /*occupation*/

.occupation-link:focus{

}

    /*team*/

.team-members{
    color: var(--primary-text-color);
}

.team-position{
    color: var(--secondary-text-color);
}

/*----------------------------Portfolio html-----------------------*/

    /* filter*/

    /*portfolio*/

.portfolio-title{
    color: var(--primary-text-color);
}

.portfolio-text{
    color: var(--secondary-text-color);
}


/*#212121 цвет основного текста черный */
/* #757575 вторичный цвет текста серый */
/*  #FFFFFF белый; */
/*  #2196F3 акцент  синий*/
